.section {
	display: flex;
	background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 65.19%),
		linear-gradient(291.26deg, #1a2cea 11.07%, #2713ff 46.13%, #1a2cea 93.02%);
}

.left {
	width: 100%;
	height: calc(100vh - 7.7rem);
}

.img {
	height: 100%;
	z-index: 1;
	position: relative;
	left: 21rem;
}

.imgStarts {
	position: relative;
	left: -36.3rem;
	z-index: 0;
}

.right {
	width: 100%;
}

.imgBird1 {
	width: 147.11px;
	height: 27.69px;
	position: relative;
	/* top: 50px; */
	left: 95px;
}

.imgBird2 {
	position: relative;
	top: 20px;
	left: 40px;
	width: 104.41px;
	height: 19.34px;
}

.imgBird3 {
	width: 114.58px;
	height: 20.41px;
}

.textContainer {
	margin-bottom: 10rem;
}

.h1 {
	margin-top: 4rem;
	font-size: 6.4rem;
	color: #000d8f;
}

.p {
	font-size: 2.4rem;
	color: #000d8f;
}

.button {
	width: 22.3rem;
	height: 4rem;
	background: #edf604;
	font-size: 1.8rem;
	outline: none;
	border: none;
	border-radius: 0.5rem;
	color: #000d8f;
	cursor: pointer;
	margin-top: 4rem;
}

.anchorContainer li {
	list-style-image: url("https://img.icons8.com/metro/26/ffffff/horizontal-line.png");
}

.anchorContainer li a {
	font-size: 2.4rem;
	color: white;
}
